/////////////////////////////////////////
// PRIMARY COLORS
$color-primary: hsl(210, 100%, 56%);
$color-primary-1: hsl(0, 0%, 0%);
$color-primary-bg-1: hsl(0, 0%, 89%);
$color-primary-bg-2: hsla(0, 0%, 0%, 0.5);