/////////////////////////////////////////
// PRIMARY COLORS
$color-primary: hsl(210, 100%, 56%);
$color-primary-1: hsl(0, 0%, 0%);
$color-primary-bg-1: hsl(0, 0%, 89%);
$color-primary-bg-2: hsla(0, 0%, 0%, 0.5);
$color-primary-bg-3: hsla(0, 0%, 79%, 0.5);
$color-primary-bg-4: hsla(0, 0%, 27%, 0.5);
$color-primary-bg-5: hsla(0, 0%, 0%, 0.9);

/////////////////////////////////////////
// FONT COLOR
$font-color: hsl(0, 0%, 100%);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}