/////////////////////////////////////////
// PRIMARY COLORS
$color-primary: hsl(210, 100%, 56%);
$color-primary-1: hsl(0, 0%, 0%);
$color-primary-bg-1: hsl(0, 0%, 89%);
$color-primary-bg-2: hsla(0, 0%, 0%, 0.5);
$color-primary-bg-3: hsla(0, 0%, 79%, 0.5);
$color-primary-bg-4: hsla(0, 0%, 27%, 0.5);
$color-primary-bg-5: hsla(0, 0%, 0%, 0.9);

/////////////////////////////////////////
// FONT COLOR
$font-color: hsl(0, 0%, 100%);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $color-primary-bg-1;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
}