.fas {
  color: $font-color;
  font-size: 35px;
}

.player {
  max-width: 80vw;
  min-width: 800px;
  border: 5px solid $color-primary-1;
  border-radius: 10px;
  background: $color-primary-1;
  position: relative;
  cursor: pointer;
}

video {}