.fas {
  color: $font-color;
  font-size: 35px;
}

.player {
  max-width: 80vw;
  min-width: 800px;
  border: 5px solid $color-primary-1;
  border-radius: 10px;
  background: $color-primary-1;
  position: relative;
  cursor: pointer;
}

video {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

/////////////////////////////////////////
// PROGRESSS BAR
.progress-range {
  height: 8px;
  width: calc(100% - 30px);
  background: $color-primary-bg-3;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  transition: height 0.1s ease-in-out;

  &:hover {
    height: 10px;
  }
}

.progress-bar {}