.fas {
  color: $font-color;
  font-size: 35px;
}

.player {
  max-width: 80vw;
  min-width: 800px;
  border: 5px solid $color-primary-1;
  border-radius: 10px;
  background: $color-primary-1;
  position: relative;
  cursor: pointer;
}

video {
  border-radius: $border--radius-1;
  width: 100%;
  height: auto;
}

/////////////////////////////////////////
// PROGRESSS BAR
.progress-range {
  height: 8px;
  width: calc(100% - 30px);
  background: $color-primary-bg-3;
  margin: auto;
  border-radius: $border--radius;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  transition: height 0.1s ease-in-out;

  &:hover {
    height: 10px;
  }
}

.progress-bar {
  background: $color-primary;
  width: 20%;
  height: 100%;
  border-radius: $border--radius;
  transition: all 0.5s ease;
}

/////////////////////////////////////////
// PLAY & PAUSE 
.play-controls {
  margin-right: $mg-right;
}

.fa-play:hover,
.fa-pause:hover {
  color: $color-primary;
  cursor: pointer;
}

/////////////////////////////////////////
// VOLUME
.volume-icon {
  cursor: pointer;
}

.volume-range {
  height: 8px;
  width: 100px;
  background: $color-primary-bg-4;
  border-radius: $border--radius;
  position: relative;
  top: -21px;
  left: 50px;
}

.volume-bar {
  background: $font-color;
}