/////////////////////////////////////////
// CONTAINERS
.show-controls {
  width: 100%;
  height: 30%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  cursor: default;
}

.controls-container {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 95px;
  margin-top: -95px;
}