/////////////////////////////////////////
// CONTAINERS
.show-controls {
  width: 100%;
  height: 30%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  cursor: default;
}

.controls-container {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 95px;
  margin-top: -95px;
  background: $color-primary-bg-2;
  box-sizing: border-box;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-out 2s;
}

.show-controls:hover .controls-container {}