/////////////////////////////////////////
// CONTAINERS
.show-controls {
  width: 100%;
  height: 30%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  cursor: default;
}

.controls-container {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 95px;
  margin-top: -95px;
  background: $color-primary-bg-2;
  box-sizing: border-box;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-out 2s;
}

.show-controls:hover .controls-container {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.control-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/////////////////////////////////////////
// LEFT CONTROLS
.controls-left {
  justify-content: flex-start;
  margin-left: 15px;
}

/////////////////////////////////////////
// RIGHT CONTROLS
.controls-right {
  justify-content: flex-end;
  margin-right: 15px;
}

.controls-left,
.controls-right {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 40px;
}

.speed,
.time {
  position: relative;
  top: 10px;
}

/////////////////////////////////////////
// PLAYBACK SPEED
.speed {
  margin-right: 15px;
}

select {
  background: transparent;
  color: $font-color;
  border: none;
  font-size: 18px;
  position: relative;
  top: -2.5px;
  border-radius: 5px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}